.homepage {
  .tab-content {
    height: 100%;
    background-color: aquamarine;
  
    .sameway {
      margin: 35rpx 25rpx 0;
      padding: 38rpx 30rpx;
      background: #ffffff;
      border-radius: 40rpx;
      box-shadow: 0px 0px 50rpx 0px rgba(0,161,91,0.20);
  
      .header{
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          .left{
              display: flex;
              font-size: 30rpx;
              font-weight: 700;
              color: #241f26;
              align-items: center;
              >view {
                  margin-left: 15rpx;
                text {
                    color: #00C584;
                }
              }
          }
  
          .right {
              font-size: 26rpx;
              font-weight: 700;
              color: #9ca6af;

              >text {
                font-size: 26rpx;
                margin-left: 13rpx;
              }
          }
      }

      .box{
          .scrollbox{
            margin-top: 56rpx;
            box-sizing: border-box;
            width: 100%;
            white-space: nowrap;
            .avatar{
              width: 139rpx;
              display: inline-flex;
              display: inline-block;
              flex-direction: column;
              align-items: center;
              margin-right: 30rpx;
              &:last-child {
                margin-right: 0;
              }
  
              .name {
                  color: #666B71;
                  font-size: 22rpx;
                  margin-top: 27rpx;
              }
  
              .gender{
                  margin-top: 11rpx;
              }
            }
          }
      }
    }
  }
}


.loveme {
  height: 100vh;
  padding-top: 60rpx;

  .baby{
    width: 700rpx;
    margin: 0 auto;
    height: 1000rpx;
    background-color: blue;
    .header {
      width: 700rpx;
      height: 690rpx;
      border-top-left-radius: 40rpx;
      border-top-right-radius: 40rpx;
      overflow: hidden;
      .header_swiper{
        width: 700rpx;
        height: 690rpx;
        background-color: red;
        .header_swiper_item {
          >image {
            width: 700rpx;
            height: 690rpx;
          }
        }
      }
    }
  }
}

.fadeIn{
  transition: all .3s linear;
}