module.exports = {
  propObserver: function(newValue, oldValue, ownerInstance, instance) {
      // console.log('prop observer', newValue, oldValue)
      if (newValue) {
        instance.setStyle({
          "bottom": "0" // 支持rpx
        })
      } else {
        instance.setStyle({
          "bottom": "-100%" // 支持rpx
        })
      }
  }
}